<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dav.routenbewerter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="dav.routenbewerter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dav.routenbewerter.MenuActivity" android:label="@string/menu_title" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="dav.routenbewerter.RegisterActivity" android:label="@string/register_title"></activity>
        <activity android:name="dav.routenbewerter.PersonalDetailsActivity" android:label="@string/personal_title"></activity>
        <activity android:name="dav.routenbewerter.RateRouteActivity" android:label="@string/rateroute_title"></activity>
        <activity android:name="dav.routenbewerter.RoutesListActivity" android:label="@string/routelist_title"></activity>
        <activity android:name="dav.routenbewerter.RouteDetailsActivity" android:label="@string/routedetails_title"></activity>
    </application>

</manifest>